.flat-surface{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.flat-surface img{
    width: 100%;
}
.flat-surface button{
    background-color: tomato;
    color: bisque;
    border: none;
    margin: 10px;
    padding: 10px;

}
